@import "settings";
@import "foundation";


$urgent-color: #F8A546;
$critical-color: #F04124;
$normal-color: #00558b;
$cute-white: #F1F1F1;

.grid-content-o {
  overflow:auto;
}

.status-bar-height{
  margin-top:20px;
}

.grey{
  background-color: grey;
}


.title-bar.primary{
  border-bottom: 1px solid #323232;
}

.no-padding{
  padding: 0px;
}

.text-black{
  color:black;
}

.text-white{
  color: white;
}

.text-center{
  text-align:center;
}


.dashboard{

  .card{
    color:grey;
    h4 {
      border-bottom: 1px solid #ccc;
    }
  }

  .critical-btn {
    .circle {
      background-color: $critical-color;
      color: white;
    }
    .iconic * {
      fill: $critical-color;
      stroke: $critical-color;
    }

  }
  .urgent-btn {
    .circle {
      background-color: $urgent-color;
      color: white;
    }
    .iconic * {
      fill: $urgent-color;
      stroke: $urgent-color;
    }

  }
  .normal-btn {
    .circle {
      background-color: $normal-color;
      color: white;
    }
    .iconic * {
      fill: $normal-color;
      stroke: $normal-color;
    }
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .green {
    background-color: green;
  }

  .round-img{
    border-radius: 50%;
  }

  .dashboard-img {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .center-circle-parent {
    position: relative;
  }
  .center-circle{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }

}


.issue-list{
  .issue-cell{
    .issue-cell-link {
      background-color: white;
      color: #a6a6a6;
      .issue-cell-header{
        color: #484848
      }
    }
    //does ellipsis on overflow after one line
    .issue-preview{
      white-space: nowrap;
      width: 12em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.issueDetail{
  .wrapDetail {
    word-wrap: break-word;
    width: 100%;
  }

  img {
    margin: 3px;
  }

  p {
    color: grey;
  }

  .button {
    margin: 1rem;
  }

  .card{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}