---
name: container
url: /
controller: navbarCtrl
---

<div class="grid-frame vertical">
    <div class="grid-content shrink" style="padding: 0;">
        <div class="primary title-bar">
            <div class="center title">{{title}}</div>
            <span class="left"><a href="{leftTextButton.link}">{{leftTextButton.title}}</a></span>
            <span class="right"><a href="{rightTextButton.link}">{{rightTextButton.title}}</a></span>
        </div>
    </div>
    <div ui-view class="grid-content">
    </div>
</div>