---
name: dashboard
parent: container
url: dashboard
---

    <div class="vertical grid-block red">
        <div class="grid-content blue">

            <div class="card">
                <div class="card-section">
                    <p> State details: {{state}} </p>
                </div>
            </div>
        </div>
        <div class="grid-content red">

            <div class="card">
                <div class="card-section">
                    <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
                </div>
            </div>

        </div>


        <div class="grid-content green">

            <div class="card">
                <div class="card-section">
                    <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
                </div>
            </div>

        </div>

        <div class="grid-content blue">

            <div class="card">
                <div class="card-section">
                    <a ui-sref="issues">Go To Issue List</a>
                </div>
            </div>

        </div>

    </div>
  <!--<a ui-sref="issues({ issueType: 'severe'})">Go to Severe Issues</a>-->
