---
name: issues
parent: container
url: issues/:issueType
controller: issueListCtrl
---
<div class="grid-block vertical issue-list">
    <div class="grid-block">
        <div class="grid-content">
            <section class="block-list">
                <ul>
                    <li ng-repeat="issue in issues" class="with-chevron issue-cell">
                        <a ui-sref="{{issueLink}}" class="issue-cell-link">
                            <div class="grid-block">
                                <div class="grid-content small-3 medium-2">
                                    <img ng-src="{{issue.image}}">
                                </div>
                                <div class="grid-content small-9 medium-10 issue-preview">
                                    <h4 class="issue-cell-header">{{issue.title}}</h4>
                                    {{issue.body}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>